@page "/options.html"
@inherits Blazor.BrowserExtension.Pages.BasePage;
@using WebExtensions.Net.Tabs; 

<h3>Options</h3>
<button class="btn btn-primary" @onclick="RunIntegrationTests">Run Integration Tests</button>
@code {
    async Task RunIntegrationTests()
    {
        var testUrl = WebExtensions.Runtime.GetURL("tests.html?random=false");
        await WebExtensions.Tabs.Create(new CreateProperties()
        {
            Active = true,
            Url = testUrl
        });
    }
}
